
        .profile-pic {
            width: 100px;
            height: 100px;
            background: url('XYLON/logo.png') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .RUPITA {
            width: 100px;
            height: 100px;
            background: url('https://i.ibb.co.com/tM3nG98/IMG-20250107-133639-412.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .ABDULLHA {
            width: 100px;
            height: 100px;
            background: url('XYLON/ABDULLHA.png') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .ALIF {
            width: 100px;
            height: 100px;
            background: url('https://i.ibb.co/Z1mt1HTF/ALIF-2-0.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .IMRAN {
            width: 100px;
            height: 100px;
            background: url('https://i.ibb.co/svGVL9BS/IMRAN.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .SIAM {
            width: 100px;
            height: 100px;
            background: url('https://i.ibb.co.com/gbVt3WWk/1738216615561-1.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .PRITOM {
            width: 100px;
            height: 100px;
            background: url('https://i.ibb.co.com/1z3sVWm/1733242446460.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .HRIDOY {
            width: 100px;
            height: 100px;
            background: url('https://i.ibb.co.com/QMfBPCw/1733241978174.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .RUDRO {
            width: 100px;
            height: 100px;
            background: url('XYLON/RUDRO.png') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .MIZAN {
            width: 100px;
            height: 100px;
            background: url('XYLON/mizan.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .JIHAT {
            width: 100px;
            height: 100px;
            background: url('XYLON/jihat.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .SHAON {
            width: 100px;
            height: 100px;
            background: url('XYLON/shaon.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .EASIN {
            width: 100px;
            height: 100px;
            background: url('XYLON/iasin.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .SHEIKH {
            width: 100px;
            height: 100px;
            background: url('https://i.ibb.co/MDmn7jCL/SHEIKH.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .LIMON {
            width: 100px;
            height: 100px;
            background: url('https://i.ibb.co/p6tCkWZM/LIMON.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }
        .TANVIR {
            width: 100px;
            height: 100px;
            background: url('https://i.ibb.co/tpfgFBQm/TANVIR.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }  
        .FARDIN {
            width: 100px;
            height: 100px;
            background: url('https://i.ibb.co/9krSsDcF/FARDIN.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #00ffcc;
        }          
